.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl {
  svg[disabled] {
    pointer-events: none;
  }
}

.BuildControl svg:hover[disabled] {
  pointer-events: none;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: #d39952;
  color: white;
}

.BuildControl .More {
  background-color: #8f5e1e;
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #daa972;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #99703f;
  color: white;
}

.editQuantityButton {
  color: rgb(247, 198, 0);
  transition: all.2s ease-in-out;
  &:hover {
    color: rgb(79, 43, 35);
  }
  &[disabled] {
    color: rgb(116, 116, 116);
  }
}
